<h1>Portfolio</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum delectus officiis consectetur nostrum quisquam
    reprehenderit repellendus vitae, porro nulla cumque magnam corrupti natus!
    Ratione impedit natus totam quis at ipsum.</p>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

    <div class="col">
        <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="700" height="400" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder: 700x400" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></rect>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em" text-anchor="middle">700 x 400</text>
            </svg>
            <div class="card-body">
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quidem ipsam adipisci minus officia nobis voluptatibus distinctio deleniti libero atque unde pariatur 
                    at quam maxime voluptatum asperiores repellendus modi vero.</p>
                <div class="d-flex justify-content-between align-items-center">
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="700" height="400" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder: 700x400" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></rect>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em" text-anchor="middle">700 x 400</text>
            </svg>
            <div class="card-body">
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quidem ipsam adipisci minus officia nobis voluptatibus distinctio deleniti libero atque unde pariatur 
                    at quam maxime voluptatum asperiores repellendus modi vero.</p>
                <div class="d-flex justify-content-between align-items-center">
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="700" height="400" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder: 700x400" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></rect>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em" text-anchor="middle">700 x 400</text>
            </svg>
            <div class="card-body">
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quidem ipsam adipisci minus officia nobis voluptatibus distinctio deleniti libero atque unde pariatur 
                    at quam maxime voluptatum asperiores repellendus modi vero.</p>
                <div class="d-flex justify-content-between align-items-center">
                </div>
            </div>
        </div>
    </div>

</div>